# dependencies
node_modules/

# build output
dist/

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Firebase local cache
.firebase/