rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isSelf(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    match /users/{userId} {
      allow read, create, update: if isSelf(userId);
      allow delete: if false;
    }

    match /drafts/{draftId} {
      allow create: if signedIn() && request.resource.data.ownerUid == request.auth.uid;
      allow read, update, delete: if signedIn() && resource.data.ownerUid == request.auth.uid;
    }

    match /groups/{groupId} {
      allow create: if signedIn()
        && request.resource.data.ownerUid == request.auth.uid;

      allow read: if signedIn();

      allow update: if signedIn();

      allow delete: if signedIn() && resource.data.ownerUid == request.auth.uid;
    }
  }
}